/* ///////////////////////// HEADER ///////////////////////// */
header h1 {
    font-size: 50px;
    margin-top: 15px;

    font-family: 'Poller One', cursive;
}

header h2 {
    margin-bottom: 10px;

    font-size: 18px;
    font-style: italic;
}

/* ///// LIGHT THEME ///// */
header {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fffcf6;
    color: black;
}

.darkHeader {
    background-color: black;
    color: #dba90d;
    /* transition: 1s; */
}

/* ///////////////////////// MAIN ///////////////////////// */
main {
    width: 80%;
    margin: auto;
    display: flex;
    
    /* border: 1px solid blue; */
}

.innerContainer {
    height: 60vh;
    /* border: 1px solid blue; */
}

#inputsBox {
    width: 60%;
    /* padding-top: 10vh; */
}

#buttonsBox {
    width: 40%;
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
    }

    #lukeBubble:after {
        border-width: 15px 60px 15px 0px;
        left: -60px;
    }
}

@media screen and (max-width: 800px) {
    #resultsContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    main {
        flex-direction: column;
    }

    #inputsBox {
        justify-content: center;
        height: 80%;
    }
    

    #buttonsBox {
        height: 50vh;
        /* margin-top */
    }

    #lukeSkywalker {
        width: auto;
        height: auto;
        max-height: 100%;
        z-index: 1;
    }

    #speech {
        /* min-height: 70%; */
        height: 240px;
        /* width: auto; */
    }

    #lukeBubble {
        width: 98%;
        height: 100px;
    }

    #lukeBubble:after {
        border-width: 15px 50px 15px 0px;
        left: -50px;
    }

    #inputs {
        position: absolute;
        left: 0;
        top: 350px;
    }

    #inputsBox, #buttonsBox {
        width: 90%;
        margin: auto;
    }

    #buttonsBox {
        /* position: absolute; */
        margin-top: 70px;
    }

    #resultsContainer {
        /* width: 10px; */
        margin: auto;
    }

    /* .card { */
        /* width: 50px; */
    /* } */
}

/* ////// LUKE WITH BUBBLE ////// */
.lukeContainer {
    height: 100%;
    /* background-color: darkgreen; */
    display: flex;
    justify-content: flex-end;

    display: flex;
    align-items: flex-end;
}

.lukeSkywalker {
    height: 90%;
    width: auto;
    /* background-color: yellowgreen; */
}

.bubble {
    width: 100%;
    min-height: 80px;
    height: auto;

    position: relative;
    padding: 7px;
    background: #f9ebce; /* dbaf71 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    overflow-wrap: break-word;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 100px 15px 0px;
    border-color: transparent /* red; */ #f9ebce;
    display: block;
    width: 0;
    z-index: 1;
    left: -100px;
    top: 25px;
}

.speech {
    width: 60%;
    height: 80%;

    /* background-color: darkmagenta; */
    display: flex;
    flex-direction: column;
}

.inputs {
    /* background-color: tomato; */
    margin: auto;
}

.speech input {
    width: 80%;
    height: 35px;
    margin: 0 auto 0px auto;

    background-color: #fffcf6;
    outline: none;

    border: 1px solid black;
    border-top-color: #fffcf6;
    border-left-color: #fffcf6;
    border-right-color: #fffcf6;

    text-align: center;
    font-size: 16px;
}

#song1 {
    margin-bottom: 15px;
}

::placeholder {
    text-align: center;
    /* font-size:  */
}

/* ////// BUTTONS ////// */
.lukeBtns {
    margin-top: 10px;
    height:auto;
    width: 100%;
    background-color: wheat;

    display: flex;
    justify-content: center;
}

.lukeBtns button {
    width: 90px;

    padding: 10px 18px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;

    /* text-align: center; */
}
#reset {
    margin-right: 30px;

    background-color: #aa0449;
    box-shadow: 0 9px #999;
}

#submit {
    background-color: #04AA6D;
    box-shadow: 0 9px #999;
}

#reset:hover {
    background-color: #8e3e3e
}

#submit:hover {
    background-color: #8e3e3e
}

#reset:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#submit:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////// ASK YODA BUTTON ////// */
#buttonsBox {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* only temporary */
    background-color: #fffcf6;
}


#buttonsBox img {
    height: 40%;
    margin-bottom: 10px;
    /* transition: 2s; */
    /* height: 70px; */
}

#buttonsBox img {
    -webkit-animation: action 2s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

/* ////// YODA BUTTON ////// */
#buttonsBox button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#buttonsBox button:hover {
    background-color: #3e8e41
}

#buttonsBox button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
