/* //////////////////// GENERAL //////////////////// */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    /* font-family: 'Poller One', cursive; */
    font-family: sans-serif;
    text-align: center;
    /* background-color: #fffcf6; */
    /* background-color: black; */
}

/* //////////////////// HEADER //////////////////// */
header h1 {
    font-size: 50px;
    margin-top: 10px;

    font-family: 'Poller One', cursive;
}

header h2 {
    font-style: italic;
    font-size: 18px;
}

/* ///// LIGHT THEME ///// */
header {
    padding: 0;
    /* height: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    background-color: #fffcf6;
    /* color: #af8d5e; */
    color: black;
}

.darkHeader {
    background-color: black;
    color: #dba90d;
    /* transition: 1s; */
}

/* //////////////////// MAIN //////////////////// */
main {
    display: flex;
    flex-direction: column;

    /* width: 90%; */
    /* margin: auto; */
}

.container {}

/* ////// LUKE WITH BUBBLE ////// */
.luke {
    /* background-color: darkgreen; */
    display: flex;
    justify-content: center;
}

.speech {
    width: 50%;

    /* background-color: darkmagenta; */
    display: flex;
    flex-direction: column;
}

.speech input {
    width: 80%;
    height: 30px;
    margin: 0 auto 10px auto;

    background-color: #fffcf6;
    outline: none;

    border: 1px solid black;
    border-top-color: #fffcf6;
    border-left-color: #fffcf6;
    border-right-color: #fffcf6;

    text-align: center;
}

::placeholder {
    text-align: center;
}

.speech button {
    width: 50%;
    margin: auto;

    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.speech button:hover {
    background-color: #3e8e41
}

.speech button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bubble {
    width: 100%;
    min-height: 80px;
    height: auto;
    margin-bottom: 20px;

    position: relative;
    padding: 7px;
    background: #f9ebce; /* dbaf71 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    overflow-wrap: break-word;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
}

#lukeBubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 40px 15px 0;
    border-color: transparent #f9ebce; /* dbaf71 */
    display: block;
    width: 0;
    z-index: 1;
    left: -40px;
    top: 25px;
}

/* ////// MAIN CONTAINER ////// */
#mainContainer {
    display: flex;
}

#inputsBox {
    width: 60%;
}

#buttonsBox {
    width: 40%;
}

.innerContainer {
    /* width: 50%; */
    padding-top: 10vh;
    /* height: 35vh; */
    height: 60vh;

    /* only temporary */
    /* border: 1px solid black; */
}

@media only screen and (max-width: 800px) {
    #mainContainer {
        flex-direction: column;
    }

    #inputsBox, #buttonsBox {
        width: 100%;
    }
}

/* ///////// ASK YODA BUTTON ////// */
#buttonsBox {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* only temporary */
    background-color: #fffcf6;
}


#buttonsBox img {
    height: 40%;
    margin-bottom: 10px;
    transition: 2s;
    /* height: 70px; */
}

#buttonsBox img {
    -webkit-animation: action 2s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

/* ////// YODA BUTTON ////// */
#buttonsBox button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#buttonsBox button:hover {
    background-color: #3e8e41
}

#buttonsBox button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* ////// RESULTS ////// */
#resultsContainer {
    background-color: black;
    /* height: 88vh; */

    /* only temporary */
    /* border: 1px solid black; */
    /* background-color: lightskyblue; */
}

table {
    width: 70%;
    height: auto;
    margin: 20px auto 50px 30%;

    /* border: 2px solid black; */
    border-collapse: collapse;

    color: #dba90d;
    /* transition: 1s; */
}

table th {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
}
table td {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    text-align: left;
    /* overflow: visible; */
}

/* //////////////////// FOOTER //////////////////// */
footer {
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    background-color: rgba(211, 211, 211, 0.507);
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90%;
    margin: auto;
}

footer img {
    margin-left: 5px;
    width: 16px;
}

footer a, footer a:visited, footer a:active {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

footer a:hover {
    position: relative;
    top: -1px;
    /* font-size: 17px; */
}